{% include "anomaly.extension.section_block::style" %}

<div class="
    section__container
    section__alignment--{{ block.alignment.key }}
    section__background--{{ block.background.key }}
    section__justify_content--{{ block.justify_content.key }}
    ">

    {% if block.top_divider %}
        <div class="
            section__divider
            section__divider--top
            section__divider--arrange_{{ block.top_divider_arrangement.key }}
        ">
            {{ img(block.top_divider.key).data|raw }}
        </div>
    {% endif %}


    <div class="section">
        <div class="section__content">
            {{ block.content.render()|raw }}
        </div>
    </div>


    {% if block.bottom_divider %}
        <div class="
            section__divider
            section__divider--bottom
            section__divider--arrange_{{ block.bottom_divider_arrangement.key }}
        ">
            {{ img(block.bottom_divider.key).data|raw }}
        </div>
    {% endif %}

</div>
