{{ asset_add("styles.css", "anomaly.extension.section_block::css/block.css") }}

<style type="text/css">
    #block--{{ block.id }} .section__container {
        height: {{ block.height.value ?: 'auto' }};
        background-image: {{ block.background_image.make.css ?: 'none' }};
        background-color: {{ block.background_color.value ?: 'transparent' }};
    }

    #block--{{ block.id }} .section__content {
        z-index: 5;
    }
</style>

<div class="
    section__container
    section__alignment--{{ block.alignment.key }}
    section__background--{{ block.background.key }}
    section__justify_content--{{ block.justify_content.key }}
    ">

    <div class="section">
        <div class="section__content">
            {{ block.content.render()|raw }}
        </div>
    </div>

</div>
