<style type="text/css">
    {{ block.custom_css.render|raw }}
</style>

<div
        id="{{ block.css_id }}"
        class="
            block block--{{ block.id }}
            block--{{ block.extension.value.slug }}
            {{ block.extension.value.slug }}--{{ block.layout.key }}
        ">

    {% if block.title.value and not block.display_title.isFalse() %}
        <h3 class="block__title">
            {{ block.title }}
        </h3>
    {% endif %}

    <div class="block__content">
        {{ content|raw }}
    </div>

</div>

<script type="text/javascript">
    {{ block.custom_js.render|raw }}
</script>
